/*******************************
Photo Gallery Project

Author: Brent Suggs
February 29th, 2016
*******************************/


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, 
body {
    font-size: 16px; 
    font-family: 'Comfortaa', cursive;
    letter-spacing: 1px;
}

body {
    margin-top: 90px;
}

.wrap {
    width: 80%; 
    max-width: 980px; 
    margin: 0 auto; 
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

header {
    position: fixed; 
    top: 0; 
    width: 100%;
    text-align: center;
    padding: 25px 0; 
    background-color: white;
/*    border-bottom: .5px solid lightgrey;*/
}

img {
    width: 100%;
}

/**********************
    LIGHTBOX
**********************/ 

#overlay {
    background: rgba(0,0,0,.7); 
    width: 100vw; 
    height: 100vh; 
    position: fixed;
    top: 0; 
    display: none; 
    text-align: center; 
}

#overlay img {
    width: 60%; 
    margin-top: 7%;
}

#overlay p {
    color: white;
}

#navLeft,
#navRight {
    font-size: 2em;
    display: inline-block;
    position: fixed; 
    top: 50vh; 
    color: white; 
    z-index: 1000;
    cursor: pointer; 
    width: 2em;
    height: 2em;
}

#navLeft {
    left: 10%; 
}

#navRight {
    right: 10%; 
}

/**********************
    SEARCH BAR
**********************/ 

#search {
    width: 80%; 
    max-width: 460px;
    height: 2.5em;
    border-radius: 3px;
    border: 2px solid #D5D5D5;
	padding-left: 10px;
	font-size: 1em;
}

#search:focus {
    border: 2px solid #B5B5B5; 
    outline: none; 
}

/**********************
    GALLERY
**********************/ 

#gallery {
    list-style: none; 
    padding-left: 0; 
}


li.gallery-item {
    margin: 0 0 60px 0; 
}


/**********************
    MEDIA QUERIES
**********************/ 

@media screen and (min-width: 480px) {
    
    li.gallery-item {
        float: left; 
        margin: 0 60px 60px 0; 
    }
    
    li.gallery-item:nth-child(2n+2) {
        margin-right: 0; 
    }
}

@media screen and (min-width: 780px) {
    

    li.gallery-item:nth-child(2n+2) {
        margin-right: 60px;
    }
    
    li.gallery-item:nth-child(3n+3) {
        margin-right: 0;
    }
}

@media screen and (min-width: 1024px) {
    

    li.gallery-item:nth-child(3n+3) {
        margin-right: 60px;
    }

    li.gallery-item:nth-child(4n+4) {
        margin-right: 0;
    }
}
